<img *ngIf="idea.imageSrc" class="card-img-top img-fluid" [src]="idea.imageSrc" alt="Card image cap">
<h4 class="card-header text-center">{{idea.title}}</h4>
<div class="card-block">
  <p class="card-text text-center font-italic">{{idea.shortDescription | slice:0:125}}<span
    *ngIf="idea.shortDescription && idea.shortDescription.length > 125">[...]</span></p>

  <!--  <div class="text-center">
      <a href="" [routerLink]="['/idea-detail',idea.$key]" class="btn btn-primary mb-3"
         [class.disabled]="!linkEnabled ? true : null"><i class="octicon octicon-search"></i> Voir le détail de l'idée
      </a>
      <a href="" [routerLink]="['/idea-form',idea.$key]" class="btn btn-warning mb-3"
         [class.disabled]="!linkEnabled ? true : null"><i class="octicon octicon-pencil"></i> Modifier l'idée</a>
      <button type="button" class="btn btn-danger mb-3" (click)="open(content)"
              [disabled]="!linkEnabled ? true : null"><i class="octicon octicon-trashcan"></i> Effacer l'idée
      </button>
    </div>-->

  <div class="text-center">
    <div class="btn-group" role="group" aria-label="Menu d'une idée">
      <a href="" [routerLink]="['/idea-detail',idea.$key]" class="btn btn-secondary"
         [class.disabled]="!linkEnabled ? true : null" [attr.tabindex]="!linkEnabled ? -1 : null"><i
        class="octicon octicon-search"></i></a>
      <a href="" [routerLink]="['/idea-form',idea.$key]" class="btn btn-secondary"
         [class.disabled]="!linkEnabled ? true : null" [attr.tabindex]="!linkEnabled ? -1 : null"><i
        class="octicon octicon-pencil"></i></a>
      <button type="button" class="btn btn-secondary btn-" (click)="open(content)"
              [disabled]="!linkEnabled ? true : null" [attr.tabindex]="!linkEnabled ? -1 : null"><i
        class="octicon octicon-trashcan"></i></button>
    </div>
  </div>

</div>
<div class="card-footer text-center">
  <small class="text-muted">{{idea.lastModified | date : 'dd/MM/yyyy à HH:mm'}}</small>
</div>

<!-- Modal delete -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Suppression de l'idée</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Etes vous sur de supprimer l'idée "{{idea.title}}" ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="deleteIdea();c()">Valider la suppression</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuler</button>
  </div>
</ng-template>
