<img *ngIf="idea.image" class="card-img-top" src="..." alt="Card image cap">
<div class="card-block">
  <h4 class="card-title text-center">{{idea.title}}</h4>

  <p class="card-text text-center">{{idea.shortDescription}}</p>
  <div class="text-center">
  <button type="button" class="btn btn-primary mb-3" (click)="navigateToDetail(idea)"
          [disabled]="!linkEnabled ? true : null">Voir le détail de l'idée
  </button>

  <button type="button" class="btn btn-warning mb-3" (click)="navigateToModication(idea)"
          [disabled]="!linkEnabled ? true : null">Modifier l'idée
  </button>
    <button type="button" class="btn btn-danger mb-3" (click)="navigateToModication(idea)"
            [disabled]="!linkEnabled ? true : null">Effacer l'idée
    </button>
  </div>

</div>
<div class="card-footer">
  <small class="text-muted">{{idea.lastModified | date : 'dd/MM/yyyy à HH:mm'}}</small>
</div>

