<div class="card-deck px-3">
  <div class="card text-center mb-3">
    <div class="card-header">
      <img *ngIf="idea?.image" class="card-img-top" src="" alt="Card image cap">
    </div>
    <div class="card-block">
      <h4 class="card-title">{{idea?.title}}</h4>

      <p class="card-text font-italic">{{idea?.shortDescription}}</p>

      <p class="card-text">{{idea?.longDescription}}</p>

    </div>
    <div class="card-footer text-muted">
      {{idea?.lastModified | date : 'dd/MM/yyyy à HH:mm'}}
    </div>
  </div>
</div>
<div class="text-center">
  <a href="" routerLink="/idea-list" class="btn btn-primary mb-3">Retour à la liste</a>
  <a href="" [routerLink]="['/idea-form',idea.$key]" class="btn btn-warning mb-3" >Modifier l'idée</a>
  <!--<button type="button" class="btn btn-danger mb-3" (click)="navigateToModication(idea)">Effacer l'idée</button>-->
</div>
