h1, h2 {
  color: #004D93;
  font-size: 30px;
  text-align: center;
}

.logo {
}

.navbar-brand {
  margin-right: 0;
}

.link-nav {
  color: rgba(255, 255, 255, 0.5);

  &:hover {
    color: rgba(255,255,255,.75);
    text-decoration: none;
  }
}

.badge-primary {
  background-color: #004D93;
}

.debug-mq {
  color : #FFFFFF;
  font-weight: bold;
  .device-xs {
    background-color: #00F1FF;
  }
  .device-sm {
    background-color: #0018FF;
  }
  .device-md {
    background-color: #4EFF24;
  }
  .device-lg {
    background-color: #FF9400;
  }
  .device-xl {
    background-color: #FF1400;
  }
}

.footer {
  //position: absolute;
  //bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;

  a {
    display: inline-block;
    color: rgba(255, 255, 255, .5);
    &:hover {
      color: rgba(255, 255, 255, .75);
      text-decoration: none;
    }
  }
}

