<div class="row d-md-none">
  <div class="col-12">
    <form class="form-signin">
      <h3 class="form-signin-heading">Enregistrez-vous</h3>
      <div [hidden]="!isError" class="alert alert-danger" role="alert">
        <strong>Erreur :</strong> {{(error)?.message}}
      </div>
      <div class="form-group">
        <label for="inputEmail">Pseudonyme</label>
        <input type="text" name="pseudonyme" [(ngModel)]="pseudonyme" id="inputPseudonyme" class="form-control" placeholder="Pseudonyme" required autofocus>
      </div>
      <div class="form-group">
        <label for="inputEmail">Adresse e-mail</label>
        <input type="email" name="email" [(ngModel)]="email" id="inputEmail" class="form-control" placeholder="Adresse e-mail" required>
      </div>
      <div class="form-group">
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" [(ngModel)]="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
      </div>
      <button class="btn btn-lg btn-primary btn-block btn-word-wrap" (click)="signup()" [disabled]="!pseudonyme || !email || !password">Créer un compte</button>
    </form>
  </div>
</div>
<div class="row d-none d-md-flex">
  <div class="col-3"></div>
  <div class="col">
    <form class="form-signin">
      <h3 class="form-signin-heading">Enregistrez-vous</h3>
      <div [hidden]="!isError" class="alert alert-danger" role="alert">
        <strong>Erreur :</strong> {{(error)?.message}}
      </div>
      <div class="form-group">
        <label for="inputEmail">Pseudonyme</label>
        <input type="text" name="pseudonyme" [(ngModel)]="pseudonyme" id="inputPseudonyme" class="form-control" placeholder="Pseudonyme" required autofocus>
      </div>
      <div class="form-group">
        <label for="inputEmail">Adresse e-mail</label>
        <input type="email" name="email" [(ngModel)]="email" id="inputEmail" class="form-control" placeholder="Adresse e-mail" required>
      </div>
      <div class="form-group">
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" [(ngModel)]="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
      </div>
      <button class="btn btn-lg btn-primary btn-block" (click)="signup()" [disabled]="!pseudonyme || !email || !password">Créer un compte</button>
    </form>
  </div>
  <div class="col-3"></div>
</div>
