.reaction {
  button {
    color: #636c72;
    font-weight: bold;
    cursor: pointer;
    &.actived {
      color: rgb(88, 144, 255);
    }
    i {
      font-weight: bold;
    }
    span {
      padding-left: 5px;
    }
  }
}

.card-header {
  a {
    color: #365899;
    cursor: pointer;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

.not-focusable:focus {
  outline: none;
  box-shadow: none;
}

.card-footer-fake {
  border-top: none;
  background-color: transparent;
}

