<div class="commentary-view-block mx-3">
  <p class="comment-block">
    <span class="author">{{commentary.userPseudonyme}}</span>
    <span class="main-comment">{{commentary.value}}</span>
  </p>
  <p class="comment-tools">
    <span class="link" (click)="updateCommentary()">Modifier</span>
    <span class="caracteristic"> · </span>
    <span class="link" (click)="deleteCommentary()">Supprimer</span>
    <span class="caracteristic">{{commentary.interval}}</span>
    <span class="caracteristic"> · </span>
    <span class="caracteristic">{{commentary.lastModified | date : 'dd/MM/yyyy à HH:mm'}}</span>
  </p>
</div>
